.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link.hover {
    color: rgb(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: Verdana, Geneva, sans-serif;
    padding-right: 36px;
    padding-left: 36px;
}

.bg-primary {
    background-color: rgb(255, 255, 255)!important;
    backdrop-filter: blur(0.8);
    border-bottom: solid .5px #E6E6E6
}

li:hover {
    background-color: rgb(184, 184, 184);
}

.navbar-nav {
   float: left;
   margin: 0;
   margin-left: 34%;
}

.navbar-nav.navbar-right:last-child {
   margin-right: -15px;
   margin-left: 0;
}

.logo-container {
    padding-top: 10px;
    padding-bottom: 10px!important;
    background-color: white;
    width:100%;
    border-bottom: solid .5px #E6E6E6
}

#logo img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.foreground {
    backdrop-filter: blur(4 px);
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}

/* ---------------Christian's changes--------------------------------------------------------------------------- */

.wrapper {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 75%;
    height: 150vh;
    padding-top: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.sidebar {
    width: 25%;
    height: 100%;
    position: sticky!important;
    border-right: solid .5px #E6E6E6;
    padding-top: 20px;
    margin-left: 20px;
    top: 0!important;
    z-index: 1;
}

#shop body {
    height: 100%;
}

.bucket-heading{
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    width: 180px;
    font-family: "Arial Black", Gadget, sans-serif
}

.li-sidebar{
    font-size: .9375em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

ul {
    list-style: none;
}

.item-name {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.price {
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
}

.sale {
    color: rgb(212, 20, 20);
}

.col-sm-4 {
    height: 100%!important;
}

/* ---------------Drew's changes--------------------------------------------------------------------------- */

#about body {
    background: url("https://farm9.staticflickr.com/8637/16085532035_f4e675b0ef_b.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main-page-container {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: white;
  width:100%;
}

.main-graphic-container {
    background: url("https://farm9.staticflickr.com/8602/15932949935_de8fa4e7e5_b.jpg") no-repeat center center fixed;
    height: 450px;
    width:100%;
}

.graphic-text {
  line-height: 3;
  height: 450px;
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: cooper-black-std, serif;
  font-weight: 100;
  font-style: normal;
}

.graphic-text-large {
  font-size: 120px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: white;
    border-top: solid .5px #E6E6E6
  }

  .container2 {
      width: auto;
      max-width: 680px;
      padding: 0 15px;
  }

  .cart-heading {
    text-align: center;
    font-size: 30px;
    color: black;
    font-family:"Arial Black", Gadget, sans-serif;
  }

  .cart-page-container {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: white;
    width:80%;
  }